<!DOCTYPE html>

@main("Twitter Search") {
<div ng-app="TwitterSearch">
    <div ng-controller="TwitterController" class="container">
        <form class="form-horizontal">
            Search: <input ng-model="query" type="text"/>
            <button class="btn btn-default" ng-click="search(query)">Search</button>
        </form>
        <b>{{ tweets.length }}</b> tweets found.
        <blockquote ng-repeat="tweet in tweets">
            <p>{{tweet.tweet}}</p>
            <footer>{{tweet.name}}</footer>
        </blockquote>
    </div>
</div>
<script src="@routes.Assets.at("lib/angularjs/angular.js")"></script>
<script src="@routes.Assets.at("js/twitter.js")"></script>
}
