<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")" />
    <title>Twitter Search</title>
</head>
<body ng-app="TwitterSearch">
<div ng-controller="TwitterController" class="container">
    <form class="form-horizontal">
        Search: <input ng-model="query" type="text"/>
        <button class="btn btn-default" ng-click="search(query)">Search</button>
    </form>T
    <b>{{ tweets.length }}</b> tweets found.
    <div ng-repeat="tweet in tweets">
        <i>{{tweet.tweet}}</i> <b>- {{tweet.name}}</b>
    </div>
</div>
<script src="@routes.Assets.at("lib/angularjs/angular.js")"></script>
<script src="@routes.Assets.at("js/twitter.js")"></script>
</body>
</html>
